body {
  height: 100%;
  background-color: #111130;
  box-sizing: border-box;
}
.take-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.head {
  padding: 10px;
  border-style: solid;
  border-color: rgb(189, 186, 186);
  border-radius: 10px;
  color: orange;
}
.input {
  display: flex;

  height: 50px;
}
.Input-bar {
  width: 320px;
  border-radius: 5px;
  border-color: orange;
  padding: 10px;
  border-width: 4px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}

.add {
  border-radius: 5px;
  margin-left: 5px;
  width: 50px;
}

.add:hover {
  cursor: pointer;
  background-color: rgb(248, 114, 5);
  color: #fff;
  transition: 0.5s;
}

.button-cont {
  background: none;
  outline: none;
  border: none;
  color: #e64242;
  font-size: 2rem;
  cursor: pointer;
  margin-top: 35px;
}

.remove-btn {
  background-color: #e64242;
  height: 55px;
  width: 155px;
  padding: 20px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: 5px;
  display: inline;
  transition: all 0.4s ease 0s;
  font-size: 15px;
}

.remove-btn:hover {
  cursor: pointer;
  background-color: #ff0123;
  letter-spacing: 1px;
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}
